/**
*** My own basic markdown stylsheet [https://github.com/senki/Markdown]
*** Inspired by [http://markdownpad.com/] and [http://kevinburke.bitbucket.org/markdowncss]
*** 2013.02.01
*** by Senki
**/

body{margin:0 auto;padding:14px;max-width:960px;color:#444;font-size:16px;font-family:Helvetica,Calibri,sans-serif;line-height:1.25;}
h1,h2,h3,h4,h5{max-width:600px;color:#111;font-weight:400;}
h1,h2,h3,h4,h5,p{margin-bottom:14px;padding:0;}
h1{font-size:2em;line-height:1.25em;}
h2{font-size:1.625em;line-height:1.15384615em;}
h3{font-size:1.375em;line-height:1.13636364em;}
h4{font-size:1.125em;line-height:1.11111111em;}
h5{font-size:1.125em;line-height:1em;}
a{margin:0;padding:0;color:#09f;vertical-align:baseline;}
a:hover{color:#f60;text-decoration:none;}
a:visited{color:purple;}
ul,ol{margin:0;padding:0;}
li{margin-left:2em;}
p,ul,ol,img{max-width:540px;}
ul + p,ol + p{margin-bottom:8px;}
span{background-color:yellowgreen;}
pre{padding:0 14px;max-width:600px;white-space:pre-wrap;}
code{color:#111;font-size:16px;font-family:'Courier New',monospace;}
blockquote{margin-left:0;padding:0 2em;max-width:476px;border-left:.5em solid #eee;}
blockquote cite{color:#bfbfbf;}
blockquote cite:before{content:'\2014 \00A0';}
blockquote p{max-width:460px;color:#666;}
hr{margin:14px 0;width:540px;color:#999;text-align:left;}
.comment{display:inline-block;margin-top:14px;padding:2px 8px;background:yellowgreen;}
.footnotes{font-style:italic;}
.compact {line-height:1;}
.compact h1, .compact h2, .compact h3, .compact h4, .compact h5 {margin-top:8px;line-height:1;}
.compact h1, .compact h2, .compact h3, .compact h4, .compact h5, .compact p{margin-bottom:8px;}
/** PRINT ONLY **/
@page{margin-top:20mm;margin-right:35mm;margin-bottom:30mm;margin-left:35mm;}
@media print {
	body{orphans:2;widows:3;}
	h1,h2,h3,h4,h5,p{page-break-inside:avoid;page-break-after:avoid;}
	ol,ul{page-break-inside:avoid;}
	hr{display:none;margin:0;color:white;page-break-before:always;}
}
